body {
  font-family: "Poppins", sans-serif;
  background: white;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

header {
  filter: brightness(150%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/bojagi.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  color: white;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
  font-weight: 200;
}

header h3 {
  font-family: "Dancing Script", cursive;
  font-size: 150px;
  font-weight: lighter;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 28px;
  border-radius: 10px;
  margin-top: 50px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(223, 208, 224);
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.korean-sky {
  max-width: 500px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-align: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.full-background-section {
  background: rgb(230, 230, 230);
}

.secondary-section {
  text-align: center;
}

section.tertiary-section {
  text-align: center;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-with-cards {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.card {
  background-color: white;
  width: 300px;
  margin: 0 auto;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-body {
  padding: 20px;
}
.souvenir-explanation {
  text-align: left;
  font-size: 15px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #381641;
}

.souvenir-grid {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.souvenir-grid img {
  width: 400px;
  transition: all 200ms ease;
}

.souvenir-grid img:hover {
  transform: scale(1.1);
}

footer {
  color: white;
  background-color: #381641;
  background-size: cover;
  padding: 50px;
}

footer h5 {
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer li a {
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 70px;
  }

  section {
    padding: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .korean-sky {
    width: 100%;
    max-width: 350px;
  }

  .souvenir-grid img {
    width: 100%;
    max-width: 300px;
  }
}
